<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="font-weight-light">Api response runtime validation p.o.c.</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12 my-2">
      <button type="button" class="btn btn-primary mx-2" (click)="loadFairUser()">load (fair) user</button>
      <button type="button" class="btn btn-primary mx-2" (click)="loadUglyUser()">load (ugly) user</button>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6 border border-info rounded font-italic my-2 p-2" [style.white-space]="'pre'" [style.line-height]="1.1">
      {{ jsonResponse || "???" | json }}
    </div>

    <div class="col-12 col-md-5">
      <div class="row">
        <div class="col-12 border rounded m-2 p-2" [class.border-success]="!!zipCode" [class.border-danger]="!zipCode">
          user.address.zipcode: <strong>{{ zipCode || "???" }}</strong>
        </div>

        <div class="col-12 border rounded m-2 p-2" [class.border-success]="!validationErrors" [class.border-danger]="!!validationErrors">
          {{ validationErrors || "all ok!" }}
        </div>
      </div>
    </div>
  </div>
</div>
